<div>
  <%= form_for @beverage, url: {action: @action} do |b| %>
      <p  class="whitetext">
        <%= b.label :name %><br>        
        <%= b.text_field :name %>
      </p> 
      <p class="whitetext">
        <%= b.label :varietal %><br>    
        <%= b.text_field :varietal %>
      </p>
      <p class="whitetext">
        <%= b.label :alcohol_percentage %><br>    
        <%= b.text_field :alcohol_percentage %>
      </p> 
      <p class="whitetext">
        <%= b.label :vintage_year %><br>    
        <%= b.text_field :vintage_year %>
      </p>
      <p class="whitetext">
        <%= b.label :rating %><br>    
        <%= b.text_field :rating %>
      </p>
      <p class="whitetext">
        <%= b.label :country %><br>
        <%= b.text_field :country %>
      </p>
      <p class="whitetext">
        <%= b.label :description %><br>
        <%= b.text_area :description %>
      </p>
      <p class="whitetext">
        <%= b.label :reporter %><br>
        <%= b.text_field :reporter %>
      </p>
      <p>
        <%= b.submit @action.capitalize %><br>
      </p>  
  <% end %>
</div>