<h2 id="indextitle">Names of Wines</h2>

<table class="table table-hover table-inverse">
     <thead class="thead-inverse">
        <tr>
            <th>Name</th>
            <th>Varietal</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Region</th>
        </tr>
        <tr>
            <th><input type="text" id="name_filter"/></th>
            <th><input type="text" id="varietal_filter"/></th>
            <th><input type="text" id="year_filter"/></th>
            <th><input type="text" id="rating_filter"/></th>
            <th><input type="text" id="region_filter"/></th>
        </tr>
     </thead>   
    <tbody id="tablebody">
    <% @beverages.each do |beverage| %>
        <tr class = "trow">
            <td class="tname"><%= link_to beverage.name, beverage_path(beverage) %></td>
            <td class="tvarietal"><%= beverage.varietal %></td>
            <td class="tyear"><%= beverage.vintage_year %></td>
            <td class="trating"><%= beverage.rating %></td>
            <td class="tregion"><%= beverage.country %></td>
        </tr>
     <% end %> 
    </tbody>
      
</table>

<%= link_to '<button type="button">Add a New Wine</button>'.html_safe, new_beverage_path %>
<%= javascript_include_tag 'index', 'data-turbolinks-track' => true %>